.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .Signup,
    .Login {
        background-color: blue;
        padding: 35px;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
            color: white;
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }

        .inp {
            display: flex;
            flex-direction: column;

            input {
                border-bottom: 2px solid black;
                outline: none;
                color: white;
            }
        }

        .btn {
            text-align: center;

            button {
                border: 2px solid black;
                background-color: white;
                padding: 8px 13px;
                border: none;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;
            }
            .disabled{
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}